/* здесь используйте глобальные селекторы img, body, html и так далее */
@use "mixins";
@use "variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page__body {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
  color: $color-dark-grey;
  background-color: $color-light;
}

a {
  text-decoration: none;
}

.title {
  font-family: $secondary-font;
  font-weight: 400;
  color: $color-dark;
}
