$primary-font: "Lato", sans-serif;
$secondary-font: "Oswald", sans-serif;


$color-dark: #000000;
$color-dark-special: #222222;
$color-dark-primary: #444444;
$color-light: #ffffff;
$color-light-primary: #f2f2f2;
$color-light-secondary: #eaeaea;
$color-light-special: #68b738;

