$primary-font: "Lato", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;

$tablet-width: 768px;
$desktop-width: 1440px;

$color-dark: #000000;
$color-dark-special: #222222;
$color-dark-primary: #444444;
$color-socials:#666666;
$color-light: #ffffff;
$color-light-primary: #f2f2f2;
$color-light-secondary: #eaeaea;
$color-light-third: #68b738;
$color-hover-but:#5eaa2f;
$color-hover-act:#ebebeb;
$color-error:#ff8282;

$border-primary: 1px solid #cdcdcd;
$border-secondary: 1px solid #e7e7e7;
$border-light: 1px solid;
$border-fat: 2px solid;

$outline-focus: 2px solid #444444;
$outline-error: 2px solid $color-error;
