/* здесь используйте глобальные переменные */
$color-dark: #000000;
$color-dark-special: #222222;
$color-light: #ffffff;
$color-dark-grey: #444444;
$color-base-grey: #f2f2f2;
$color-light-grey: #eaeaea;
$color-light-green: #68b738;

