$primary-font: "Lato", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;

$color-dark: #000000;
$color-dark-special: #222222;
$color-dark-primary: #444444;
$color-socials:#666666;
$color-light: #ffffff;
$color-light-primary: #f2f2f2;
$color-light-secondary: #eaeaea;
$color-light-special: #68b738;
$color-hover-special:#5eaa2f;
$color-hover-other:#ebebeb;


//border

$border-style-primary: 1px solid #cdcdcd;
$border-style-secondary: 1px solid #e7e7e7;
$border-style-focus: 2px solid #444444;
$border-style-error: 2px solid #ff8282;
