@use "../common/mixins.scss";
@use "../common/variables.scss";

.catalog {
  @media (min-width: $desktop-width) {
    margin-bottom: 71px;
  }
}

.catalog__title {
  font-size: 36px;
  line-height: 36px;
  color: $color-dark;
}

.catalog__list {
  list-style-type: none;
}

.catalog__prices-title {
  color: #111111;
  font-size: 16px;
}
