@use "../common/mixins.scss";
@use "../common/variables.scss";

.contacts {
  margin-bottom: 0;

  @media (min-width: $desktop-width) {
    display: flex;
    position: relative;
  }
}

.contacts__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 30px 22px 26px;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    padding: 62px 70px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    background-color: $color-light;
    max-width: 565px;
    top: 23%;
    left: 8%;
  }
}

.contacts__description {
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  margin: 0;
  text-align: start;
  font-family: $secondary-font;

  @media (min-width: $tablet-width) {
    line-height: 26px;
    font-size: 20px;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    padding-left: 4px;
  }
}

.contacts__text {
  font-size: 14px;
  line-height: 20px;
  color: $color-dark-primary;
  font-style: normal;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    text-align: end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 18px;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
    padding-left: 41px;
  }
}

.contacts__map-iframe {
  width: 100%;
  height: 362px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.contacts__map-image {
  height: 100%;
  width: 100%;
}
