@use "../common/mixins.scss";
@use "../common/variables.scss";

.example {
  background-color: $color-light-secondary;
  max-width: 100%;

  @media (min-width: $tablet-width) {
    background-color: $color-light;
  }

  @media (min-width: $desktop-width) {
    background-color: $color-light-secondary;
  }
}

.example__title {
  line-height: 36px;
  font-size: 40px;
  color: $color-dark;
  text-align: start;
  padding: 25px 20px 40px;
  margin: 0;

  @media (min-width: $desktop-width) {
    background-color: $color-light;
    width: 325px;
  }
}

.example__list {
  display: flex;
  gap: 32px;
  padding: 0 20px;
}

.example__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: $border-style-primary;
  width: 124px;
  position: relative;
}

.example__description {
  padding: 0 20px 20px;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.example__description {
  padding: 0 20px 20px;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.example__item-title {
  font-size: 24px;
  line-height: 24px;
  padding: 15px;
}

.example__item-text {
  line-height: 12px;
  font-size: 12px;
  text-align: center;
  position: absolute;
  max-width: 80px;
  bottom: -26px; // временное значение
  left: 20%;
  padding: 2px 10px 14px;
  background-color: $color-light-secondary;
}

.example__cash {
  line-height: 20px;
  color: $color-dark;
  text-align: center;
  margin: 0 auto;
  display: block;
  padding: 20px;
}

.example__slider {
  display: flex;
}

.example__button {
  width: 4px;
  background-color: $color-socials;
  display: block;
  border-style: none;
  padding: 0;
  position: relative;
  z-index: 2;
  cursor: pointer;

  &:hover,
  &:hover::after {
    background-color: $color-light-special;
  }

  &:hover::before {
    border-color: $color-light-special;
  }


  &:active,
  &:active::before,
  &:active::after {
    opacity: 0.6;
  }
}

.example__button::before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $color-light;
  border: 2px solid $color-socials;
  background-position: center;
  position: absolute;
  left: 50%;
  top: 22%;
  transform: translate(-50%, 50%);

  @media (min-width: $tablet-width) {
    top: 30%;
  }

  @media (min-width: $desktop-width) {
    top: 50%;
  }
}

.example__button::after {
  content: "";
  display: block;
  mask-image: url("/icons/stack.svg#slider-arrow");
  background-color: $color-socials;
  mask-position: center;
  width: 24px;
  height: 18px;
  position: absolute;
  left: 50%;
  top: 37%;
  transform: translate(-50%, 50%);

  @media (min-width: $desktop-width) {
    top: 54%;
  }
}

