@use "../common/mixins.scss";
@use "../common/variables.scss";

.example {
  background-color: $color-light-secondary;
  max-width: 100%;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(to bottom, #ffffff 57%, #eaeaea 0%);
    padding: 6px 0 61px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: linear-gradient(to bottom, #ffffff  26%, #eaeaea 0%);
  }
}

.example__title {
  line-height: 40px;
  font-size: 36px;
  color: $color-dark;
  text-align: start;
  padding: 25px 20px 20px;
  margin: 0 0 20px;

  @media (min-width: $tablet-width) {
    padding: 40px 0 0 30px;
    line-height: 60px;
    font-size: 60px;
    margin-bottom: 61px;
  }

  @media (min-width: $desktop-width) {
    background-color: $color-light;
    max-width: 369px;
    padding-top: 26px;
    margin: 0 0 137px 80px;
  }
}

.example__list {
  display: grid;
  padding: 0 20px;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr 2fr;
    margin-bottom: 105px;
    padding-left: 30px;
    gap: 10px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    grid-template-columns: 33% 50%;
    margin-left: 80px;
    margin-bottom: 0;
    gap: 6px;
  }
}

.example__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: $border-primary;
  border-radius: 3px;
  width: 124px;
  margin-right: 30px;

  @media (min-width: $tablet-width) {
    width: 163px;
    gap: 10px;
    position: relative;
  }
}

.example__description {
  padding: 0 19px 20px;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 28px;
    margin-bottom: 33px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    max-width: 490px;
    margin: 0 0 35px 80px;
  }
}

.example__item-title {
  font-size: 24px;
  line-height: 24px;
  padding: 13px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__item-text {
  line-height: 12px;
  font-size: 12px;
  text-align: center;
  max-width: 80px;
  padding: 2px 10px 14px;
  background-color: $color-light-secondary;
  margin: -10px auto -25px;

  @media (min-width: $tablet-width) {
    background-color: $color-light;
    max-width: 179px;
    position: absolute;
    bottom: 3px;
    left: 15px;
    line-height: 14px;
    font-size: 14px;
  }

  @media (min-width: $desktop-width) {
    padding: 2px 4px 9px;
    background-color: $color-light-secondary;
    bottom: 8px;
  }
}

.example__cash {
  line-height: 20px;
  color: $color-dark;
  margin: 10px 60px 10px auto;
  display: block;
  padding: 22px 15px 10px;
  grid-column: 1/3;
  text-transform: uppercase;
  max-width: 255px;

  @media (min-width: $tablet-width) and (max-width: ($desktop-width)-1) {
    margin-left: auto;
    margin-right: 0;
    margin-top: 0;
    padding: 13px 11px 0;
    display: flex;
    flex-direction: column;
    text-align: end;
    grid-column: auto;
    gap: 8px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/3;
    display: flex;
    gap: 60px;
    margin: 35px 13px 0 -11px;
    max-width: 384px;
  }
}

.example__cash-number {
  @media (min-width: $tablet-width) {
    width: 80px;
  }
}

.example__slider {
  padding: 0 26px 40px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin: 0 auto 40px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 2/-3;
  }
}

.example__button {
  position: relative;
}
