@use "../common/mixins.scss";
@use "../common/variables.scss";

.footer {
  background-color: $color-light-primary;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;


  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__logo-img {
  border-bottom: $border-style #d9d9d9;

  @media (min-width: $tablet-width) {
    border: none;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__developer-text {
  display: flex;
  align-items: center;
  color: $color-dark-primary;


  &:hover::after {
    background-color: $color-light-special;
  }
}

.footer__developer-text::after {
  content: "";
  width: 27px;
  height: 34px;
  background-color: $color-socials;
  mask-image: url("/icons/stack.svg#developer");
  mask-size: 27px 34px;
  mask-position: center;
  display: block;
}
