@use "../common/mixins.scss";
@use "../common/variables.scss";

.form__input {
  font-size: 20px;
  line-height: 30px;
  color: $color-dark-primary;
  font-family: $secondary-font;
}

.form__button {
  font-size: 20px;
  line-height: 26px;
}
