@use "../common/mixins.scss";
@use "../common/variables.scss";

.form__input {
  font-size: 20px;
  line-height: 30px;
  color: $color-dark-primary;
  font-family: $secondary-font;
  border: $border-secondary;
  width: 100%;
  margin-bottom: 16px;
  padding: 11px 12px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 376px;
    padding: 10px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 496px;
  }


  &:hover {
    border-color: #cdcdcd;
  }

  &:focus,
  &:focus-visible {
    outline: $outline-focus;
    border-color: $color-light;
  }

  &::placeholder {
    opacity: 0;
  }

  &:user-invalid {
    outline: $outline-error;
    border-color: $color-light;
  }
}

.form__button {
  font-size: 20px;
  line-height: 26px;
  padding: 15px;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 256px;
    padding: 15px;
  }
}
