@use "../common/mixins.scss";
@use "../common/variables.scss";

.header {
  min-width: 320px;

  @media (min-width: $desktop-width) {
    position: relative;
    z-index: 1;
    margin-left: auto;
  }
}

