@use "../common/mixins.scss";
@use "../common/variables.scss";

.logo__image {
  @media (min-width: $tablet-width) {
    height: 50px;
    width: 60px;
  }
}

.logo__image-text {
  @media (min-width: $tablet-width) {
    margin-right: 94px;
  }
}
