@use "../common/mixins.scss";
@use "../common/variables.scss";


@media (min-width: $tablet-width) {
  .main-wrapper {
    //max-width: 768px;
    // padding: 0 30px;
  }
}

@media (min-width: $desktop-width) {
  .main-wrapper {
    // max-width: 1220px + 60;
    //padding: 0 120px;
  }
}
