@use "../common/mixins.scss";
@use "../common/variables.scss";

.programs {
  background-color: $color-light;
  color: $color-dark;
}

.programs__card {
  background-color: $color-light-secondary;
}

.programs__card--slim::before {
  content: "";
  width: 50px;
  height: 53px;
  display: block;
  background-image: url("../../icons/stack.svg#cat-sitting");
}

.programs__card--set::before {
  content: "";
  width: 50px;
  height: 53px;
  display: block;
  background-image: url("../../icons/stack.svg#cat-stand");
}

.programs__card-title {
  font-size: 24px;
  line-height: 37px;
  position: relative;
}

.programs__card-description {
  position: relative;
}

.programs__card-link {
  color: $color-dark;
  line-height: 16px;
  font-size: 16px;
  text-align: center;
  display: flex;
  gap: 15px;
  align-items: center;

  &:hover::after {
    width: 32px;
    height: 12px;
    mask-image: url("../../icons/stack.svg#cursor-hover");
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: $color-dark;
    display: block;
    transition: mask-position 3s linear;
  }

  &:active {
    opacity: 0.3;
  }
}

.programs__card-link::after {
  content: "";
  mask-image: url("../../icons/stack.svg#cursor");
  display: block;
  width: 24px;
  height: 12px;
  background-color: $color-dark;
  mask-position: center;
  mask-repeat: no-repeat;
}
