@use "../common/mixins.scss";
@use "../common/variables.scss";

.promo {
  background-image: linear-gradient(to left, #64a83c, rgba(98, 165, 58, 0.85)), url("../../images/background/background-cat @2x.png");
  background-repeat: no-repeat;
  background-size: auto 302px;
  background-position: center top;
  display: flex; //убрать флекс
  flex-flow: column;
  flex-wrap: wrap;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) and (max-width: ($desktop-width)-1) {
    background-color: $color-light;
    color: $color-dark;
    display: flex;
    flex-direction: column;
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 82px;
    display: grid;
    grid-template-columns: 420px 1fr;
    background-image: none;
    grid-template-areas:
      "title  img"
      "text   img"
      "button img";
  }
}

@media (min-width: $desktop-width) {
  .promo::before {
    content: "";
    position: absolute;
    background-size: contain;
    background-image: linear-gradient(to left, #64a83c, #62a53a), url("../../images/background/background-cat-desktop@2x.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    width: 720px;
    height: 680px;
    z-index: -1;
    top: 0;
    right: 0;
    display: block;
  }
}

.promo__title {
  line-height: 36px;
  font-size: 36px;
  text-align: center;
  color: $color-light;
  order: -3;

  @media (min-width: $tablet-width) {
    color: $color-dark;
    text-align: start;
    padding-left: 120px;
  }

  @media (min-width: $desktop-width) {
    grid-area: title;
    display: block;
  }
}


.promo__description {
  font-family: $secondary-font;
  line-height: 14px;
  font-size: 14px;
  color: $color-light;
  text-transform: uppercase;
  text-align: center;
  order: -2;

  @media (min-width: $tablet-width) {
    color: $color-dark;
    text-align: start;
    padding-left: 120px;
  }

  @media (min-width: $desktop-width) {
    grid-area: text;
  }
}

.promo__image {
  /* background-color: transparent; */
  //display: flex;
  //display: grid;
  margin: 0 auto;
  display: block;

  @media (min-width: $desktop-width) {
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    grid-area: img;
    grid-column: 3/-1;
  }
}


.promo__button {
  margin-left: 20px;
  margin-right: 20px;

  @media (min-width: $tablet-width) {
    width: 244px;
    order: -1;
    padding: 14px 10px;
    font-size: 20px;
    line-height: 26px;
    margin-left: 120px;
  }

  @media (min-width: $desktop-width) {
    grid-area: button;
  }
}
