@use "../common/mixins.scss";
@use "../common/variables.scss";

.subproducts__title {
  line-height: 24px;
  font-size: 24px;
}

.subproducts__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    width: 896px;
    display: block;
  }
}

.subproducts__item {
  line-height: 14px;
  font-size: 14px;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 180px 150px 45px 240px;
    align-items: center;
    justify-content: space-between;
  }
}

.subproducts__heading {
  line-height: 16px;
  font-size: 16px;
  color: $color-dark-special;
  font-weight: 700;
}
