@use "../common/mixins.scss";
@use "../common/variables.scss";

.title-h2 {
  font-family: $secondary-font;
  color: $color-dark;
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.title-h2--width-border::after {
  content: "";
  display: block;
  width: 100vw;
  height: 2px;
  position: absolute;
  background-color: $color-light-third;
  top: 50%;
  right: 0;
  z-index: -1;
  box-shadow: 100vw 0 0 0 $color-light-third;
}
