@use "../common/mixins.scss";
@use "../common/variables.scss";

.working__list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }


  @media (min-width: $desktop-width) {

    //gap: 77px; //обратить внимание на расстоние между элементами
  }
}

.working__item {
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 15px;
  align-items: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: start;
    min-width: 237px;
    // margin-right: 137px;
    margin-top: 37px;
  }

  .working__item:nth-child(2n) {
    margin-right: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}

.working__item::before {
  content: "";
  background-color: $color-light-special;
  width: 60px;
  height: 60px;
  display: block;
}

.working__item--useful::before {
  content: "";
  display: block;
  background-image: url("/icons/stack.svg#sheet");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 32px;
}

.working__item--powder::before {
  content: "";
  display: block;
  background-image: url("/icons/stack.svg#powder");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 32px;
}

.working__item--functional::before {
  content: "";
  display: block;
  background-image: url("/icons/stack.svg#knife-fork");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 32px;
}

.working__item--upgrade::before {
  content: "";
  display: block;
  background-image: url("/icons/stack.svg#alarm");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 32px;
}

.working__title {
  line-height: 40px;
  font-size: 36px;
  text-align: start;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.working__item-text {
  display: flex;
}

