@use "../common/mixins.scss";
@use "../common/variables.scss";

.working {
  @media (min-width: $tablet-width) and (max-width: ($desktop-width)-1) {

    padding-bottom: 8px;
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 100vw;
      height: 1px;
      position: absolute;
      background-color: #e6e6e6;
      box-shadow: -100vw 0 0 0 #e6e6e6;
      overflow: hidden;
      bottom: 0;
    }
  }
}

.working__list {
  list-style-type: none;
  padding: 0 0 35px;
  margin: 0;
  counter-reset: working 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 77px;
  }
}

.working__item {
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 19px;
  align-items: center;
  counter-increment: working 1;
  position: relative;
  padding: 9px 0 12px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    min-width: 237px;
    margin-top: 33px;
    padding: 40px 0 57px;
  }

  .working__item:nth-child(2n) {
    margin-right: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}

.working__item::after {
  content: counter(working);
  width: 100%;
  height: 100%;
  font-family: $secondary-font;
  font-size: 280px;
  line-height: 280px;
  display: none;
  z-index: -1;
  color: $color-light-secondary;
  position: absolute;
  left: 40%;
  bottom: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    left: 0;
    justify-content: center;
    padding-left: 32px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 41px;
  }
}

.working__item::before {
  content: "";
  background-color: $color-light-third;
  width: 60px;
  height: 60px;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 32px;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
  }
}

.working__item--useful::before {
  content: "";
  background-image: url("../../icons/stack.svg#sheet");
}

.working__item--powder::before {
  content: "";
  display: block;
  background-image: url("../../icons/stack.svg#powder");
}

.working__item--functional::before {
  content: "";
  display: block;
  background-image: url("../../icons/stack.svg#knife-fork");
}

.working__item--upgrade::before {
  content: "";
  display: block;
  background-image: url("../../icons/stack.svg#alarm");
}

.working__title {
  line-height: 40px;
  font-size: 36px;
  text-align: start;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    margin: 24px 0 0;
    line-height: 60px;
    font-size: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 20px;
    padding-top: 30px;
  }
}

.working__item-text {
  display: flex;
  margin: 0;

  @media (min-width: $tablet-width) {
    grid-column: 1/3;
    margin-top: 15px;
    max-width: 245px;
  }

  @media (min-width: $desktop-width) {
    max-width: 250px;
  }
}
