@use "../common/mixins.scss";
@use "../common/variables.scss";

.wrapper {
  // width: 100%;
  padding: 0 20px;
}

@media (min-width: $tablet-width) {
  .wrapper {
    padding: 0 30px;
  }
}

@media (min-width: $desktop-width) {
  .wrapper {
    padding: 0 110px;
  }
}
